body{
	
background-color:darkred;

}

ul{
	
	width: 100%;
    height: 0em;
    position: middle;
    margin: 0em;
    padding: 0;
}

nav{
	
	text-align:center;
	padding-top:0.5em;
}

header {
    width: 100%;
    height: 5.25em;
    position: middle;
    margin: 0;
    padding: 0;
}

table,th,td{
	
	color:white;
	margin:0 auto;
	border: 3px solid black;
}

td{ font-size: 20px; letter-spacing: -1px; color: #DFBF84; text-transform: uppercase; text-shadow: 1px 1px 0 #000, margin: 10px 0 24px; text-align: center; line-height: 50px; }

textarea{
	
	width:300px;
	height:200px;
	padding:-0.5em
	
}

input[type=text],textarea{
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color:darkred;
    background-color:#faf4eb;
  }

input[type=text]:focus {
    border-color:#DFBF84;
}

input[type=submit] {
    padding:5px 15px; 
    background:#DFBF84; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    color: darkred; font-family: 'Righteous'; font-size: 30px; font-weight: normal; line-height: 30px; margin: 10px 0 20px; text-transform: uppercase; text-shadow: 2px 2px 0 #000, margin: 10px 0 24px; text-align: center; 
    
}


h1 { color: #fff; font-family: 'Righteous'; font-size: 65px; font-weight: normal; line-height: 0px; margin: 25px 0 20px; text-transform: uppercase; text-shadow: 2px 2px 0 #000, margin: 25px 0 20px; text-align: center; }

h3{ color: #fff; font-family: 'Righteous'; font-size: 65px; font-weight: normal; line-height: 0px; margin: 13px 0 0px; text-transform: uppercase; text-shadow: 2px 2px 0 #000, margin: 13px 0 0px; text-align: center; }
	
form{
	
	margin: auto;
	width:350px;
	height:250px;
}

h2 { font-size: 30px; letter-spacing: -1px; color: #DFBF84; text-transform: uppercase; text-shadow: 1px 1px 0 #000, margin: 15px 0 24px; text-align: center; line-height: 5px; padding-top:0em; }



p { color: #f6f6f6; font-family: 'Orienta', sans-serif; font-size: 16px; line-height: 24px; margin: 0 0 24px; text-align: center; }


a { 
   color: #e8d4a7; 
   text-decoration: none;
   display: inline-block;
   position:relative; 
   margin:0 auto; 
   font-size: 20px; 
   line-height:1em;
   padding-left:2em;
   padding-right:2em;
   overflow:hidden;     
   }

a:hover { color: #da9650; text-decoration: blink; }